@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&family=Source+Sans+Pro&display=swap");
button{
  background-color: rgba(224, 225, 221, 0);
  border: 2px solid rgba(224, 225, 221, 1);
  color: rgba(224, 225, 221, 1);
}
button:hover {
  background-color: rgba(224, 225, 221, 1);
  color: rgba(27, 38, 59, 1);
  transition: 0.5s;
}